.searchBtn{
    width: 50% ;
}
@media (max-width:576px){
    .searchBtn{
        width: 100% ;
    }
}

@media (max-width:768px){
    .searchBtn{
        width: 100% ;
    }
}

@media (max-width:992px){
    .searchBtn{
        width: 80% ;
    }
}
